<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="details" id="blog">
      <small style="color: blue; font-size: 0.8rem"
        ><%= blog.createdAt.toString().split(' ').slice(0, 5).join(' ') %> </small
      ><br />
      <h2>
        <%= blog.title %>
      </h2>
      <div>
        <p>
          <%= blog.message %>
        </p>
      </div>

      <a class="delete" data-idd="<%= blog._id %>"
        ><i class="fas fa-trash-alt"></i
      ></a>
    </div>

    <%- include('./partials/side.ejs') %> <%- include('./partials/footer.ejs')
    %>

    <!-- vanilla javascript -->
    <script>
      const del = document.querySelector('a.delete')

      del.addEventListener('click', e => {
        const endpoint = `/${del.dataset.idd}`
        fetch(endpoint, {
          method: 'DELETE'
        })
          .then(response => response.json())
          .then(data => (window.location.href = data.redirect))
          .catch(err => console.log(err))
      })
    </script>
  </body>
</html>
