<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="home" id="blog">
      <% blogs.forEach((blog)=>{%>
      <a style="color: black" class="none" href="/<%=blog._id%>">
        <h2 class="title">
          <small style="color: green; font-size: 0.8rem"
            ><%= blog.createdAt.toString().split(' ').slice(0, 5).join(' ') %> </small
          ><br />
          <%= blog.title %>
        </h2>

        <p class="snippet">
          <%= blog.snippet %>
        </p>
      </a>
      <%})%>
    </div>

    <%- include('./partials/side.ejs') %> <%- include('./partials/footer.ejs')
    %>
  </body>
</html>
